@model NARA20241103.Models.Fiador

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1><br />

<div>
    <h4>Datos Del Fiador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correlativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correlativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DineroFiado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DineroFiado)
        </dd>
    </dl>
    <div class="row row-cols-md-12">
        @await Html.PartialAsync("_DetalleFamiliarees", Model.DetalleFamiliares)
    </div>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFiador" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
